@font-face {
    font-family: 'MyriadPro-Bold'; 
    src: local("MyriadPro-Bold"),
         url(MyriadPro-Bold.otf);
  }
  @font-face {
    font-family: 'MyriadPro-BoldIt'; 
    src: local("MyriadPro-BoldIt"),
         url(MyriadPro-BoldIt.otf);
  }
  @font-face {
    font-family: 'MyriadPro-Regular'; 
    src: local("MyriadPro-Regular"),
         url(MyriadPro-Regular.otf);
  }
  @font-face {
    font-family: 'MyriadPro-Semibold'; 
    src: local("MyriadPro-Semibold"),
         url(MyriadPro-Semibold.otf);
  }
  @font-face {
    font-family: 'MyriadPro-SemiboldIt'; 
    src: local("MyriadPro-SemiboldIt"),
         url(MyriadPro-SemiboldIt.otf);
  }
  @font-face {
    font-family: 'MyriadPro-It'; 
    src: local("MyriadPro-It"),
         url(MyriadPro-It.otf);
  }



